body
{
	background-color: white;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

#mainBlock
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: auto;
	text-align: center;
}

#objPomar
{
	color: orange;
}

#objNieb
{
	color: blue;
}

#objZiel
{
	color: lime;
}

#objCzer
{
	color: red;
}

#B1
{
	display: block;
	border: 2px solid black;
	margin: 0 auto;
	padding: 10px 20px;
	font-family: arial;
	background-color:  #ffff99;
}

#B1:hover
{
	display: block;
	border: 2px solid lime;
	margin: 0 auto;
	padding: 10px 20px;
	font-family: arial;
	background-color: #ffb84d;
	box-shadow: 0px 3px 66px 0px rgba(84,204,14,1);
}